<div>
    <div class="row">

        <div class="col-lg-4 col-md-12" style="">
            <textarea id="code-screen"></textarea>
            </br>

            <textarea id="code-screen-css"></textarea>
            </br>

            <textarea id="code-screen-js"></textarea>

        </div>
        <div class="col-lg-5 col-md-12">
            <div class="output" style="">
                <div class="alert alert-success" style="text-align: center;">
                    Project: {{pName}}</span>
                </div>
                <div style="height: calc(100% - 80px); background-color: white">
                    <iframe id="compiler"></iframe>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="card text-white bg-dark mb-3" style="width: 100%;padding: 15px;">
                Share This Url With Others to Collaborate:
                <span class="p-url" id="pUrl"></span>
            </div>
            <div class="card text-white bg-dark mb-3" style="width: 100%;">
                {{!-- CHAT --}}
                <div class="card-body">
                    <div class="card-title" style="padding: 10px;">
                        CHAT ROOM
                        <span class="float-right" id="chatbox-username">{{#if user}}{{user.name}}{{/if}}</span>
                    </div>
                    <ul class="media-list" style="height: 280px; overflow-y: scroll; padding: 5px !important;width: 100%;"
                        id="chatbox-listMessages">

                    </ul>
                </div>
                <div class="card-footer" style="padding: 10px;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter message" id="userMessage"
                            style="margin: 5px;" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" onclick="sendMessage()"
                                style="margin: 5px;">SEND</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <div class="sideBar">
            <div id="chatbox">
                <span class="sideBar-btn" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9783;</span>
            </div>
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        </div> --}}
    </div>
</div>

<input type="hidden" value="{{roomId}}" id="roomId" />


<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.57.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.57.0/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.57.0/mode/xml/xml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.57.0/mode/htmlmixed/htmlmixed.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.57.0/mode/css/css.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.57.0/addon/hint/html-hint.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.57.0/addon/hint/css-hint.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.57.0/addon/hint/javascript-hint.min.js"></script>


<script src="/plugins/ot/ot.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/editor.js"></script>


<script>
    pUrl = document.getElementById("pUrl");
    pUrl.innerHTML = window.location.href;
    function openNav() {
        document.getElementById("mySidenav").style.width = "400px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>